.text-field {
    -fx-border-width: 0 0 1 0;
    -fx-background-color: #E8F0FE;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-border-width:  0.3;
    -fx-border-color: #000000;
}

.button {
    -fx-background-color: #f7f7f7;
    -fx-border-radius : 50%;
    -fx-background-color:
            #f7f7f7,
            linear-gradient(#DD3333 0%, #c3808e 20%, #f7f7f7 100%),
            linear-gradient(#c3808e, #f7f7f7),
            radial-gradient(center 50% 0%, radius 100%, #c3808e, #DD3333);
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Times New Roman";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 19px;
    -fx-padding: 10 20 10 20;
}

.button:hover {
    -fx-background-color: #c3808e;
}

.button:pressed
{
    -fx-background-color : #f7f7f7 ;
    -fx-text-fill: #DD3333;
}